.sign-up h2{
    text-align: center;
    color:purple;
}

.sign-up form{
    align-self: center;
    justify-content: center;
    margin-left: 43rem;
    box-sizing: border-box;
}

.sign-up sign{
    align-self: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;    
}

.sign-up{
    background: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px thistle solid;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;

}

