.items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    height:1.5cm;
  }
  .items a {
    text-decoration: none;
    color:white
  }
  .items li:first-child {
    width: 100%;
    padding-left: 1rem;
    text-align: left;
  }
  
  .items li:not(:first-child) {
    width: 10%;
    padding-right: 0.5rem;
    text-align: center;
  }
  
  .items li + li {
    margin-left: 0.5rem;
  }

  .items a:hover{
    background-color: rgb(135, 206, 235);
  }
  
  .logo img{
    width:5%;
  }