.contact h2{
    color:chocolate;
    text-align: center;
}

.contact-details{
    text-align: center;
    border: 1cm solid;
    height: fit-content;
    width: fit-content;
    padding: 100px;
    border: 1px solid black;
    background-color: lightcoral;
    margin-left: 32rem;


}
.contact-details h3 {
    color:white ;
}